{% extends 'template.html' %}
{% block title %} Welcome to Miami Valley Audobon Society {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/table.css') }}">
{% endblock %}
{% block content %}
<main class="container my-5">
    <h1 class="text-center mb-5 text-secondary">Dashboard</h1>
    {% include 'graph.html' %}

    <h2 class="text-center mb-5 text-secondary">Observations</h2>
    {% include 'table.html' %}
</main>
<!-- Bootstrap Date picker -->
{% endblock %}