<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>date</th>
      <th>name</th>
      <th>comment</th>
      <th>species</th>
      <th>links</th>
      <th>flags</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2020-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>House Wren</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=12)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=12) }}'>Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td>2019-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>Eastern Blue Bird</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=7)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=7) }}'>Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td>2019-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>Tree Swallow</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=8)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=8) }}'>Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td>2019-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>House Wren</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=9)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=9) }}'>Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td>2018-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>Eastern Blue Bird</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=4)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=4) }}'>Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td>2018-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>Tree Swallow</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=5)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=5) }}'>Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td>2018-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>House Wren</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=6)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=6) }}'>Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td>2017-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>Eastern Blue Bird</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=1)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=1) }}'>Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td>2017-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>Tree Swallow</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=2)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=2) }}'>Delete</a></td>
      <td></td>
    </tr>
    <tr>
      <td>2017-01-01</td>
      <td>Bird House 1</td>
      <td>initial load</td>
      <td>House Wren</td>
      <td><a class='nav-link btn btn-warning mb-1 btn-small text-white' href='{{ url_for('nest_data.editObservation', id=3)}}'>Edit</a><a class='nav-link btn btn-danger btn-small text-white' href='{{ url_for('nest_data.deleteObservation', id=3) }}'>Delete</a></td>
      <td></td>
    </tr>
  </tbody>
</table>